<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  {% load static %}
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static './inventory_app/edicion.css' %}" />
  <title> {{titulo}} </title>
</head>

<body>
  <form method="POST">
    <div class="div1">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Enviar</button>
    </div>
  </form>
      </div>
    </form>
      <button type="button" id="myButton">Volver</button>
  </body>
  <script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "{%url 'home'%}";
    };
</script>
</html>
