h1{
	text-align: center;
	font-size:30px;
	font-family: Arial, Geneva, Helvetica, sans-serif;
}

body{
 	background-color: white;
}

h3{
	font-family: Arial, Geneva, Helvetica, sans-serif;

}
a{
	font-family: Arial, Geneva, Helvetica, sans-serif;

}
